<% if user_signed_in? %>
  <span><%= link_to "新規投稿", new_post_path %></span>
<% end %>
<%= @posts.each do |post| %>
  <h1>
  <%= post.title %>
  <!-- postの投稿者がcurrent_userと一致した場合 -->
  <% if current_user.id == post.user_id %>
    <span style="font-size: 15px"><%= link_to "編集", edit_post_path(post.id) %></span>
    <span style="font-size: 15px"><%= link_to "削除", post_path(post.id), method:"delete" %></span>
  <% end %>
  </h1>
  <h2>投稿者：<%= post.user.username %></h2>
  <p><%= post.contents %></p>
<% end %>
