<div id="main">
  <ul class="posts">
    <%= @posts.each_with_index do |post, i| %>
      <%= link_to post_path(post.id), :class => "post_link" do %>
        <li class="each_post">
          <% if post.image? %>
            <%= image_tag post.image.url %>
          <% end %>
          <h1><%= post.title%></h1>
          <h2>
            <% if post.user.image? %>
              <%= image_tag post.user.image.thumb.url, :class => "icon" %>
            <% else %>
              <img class="icon" alt="No image" src="/assets/noimage.png" />
          　<% end %>
            <span class="auther-name"><%= post.user.username %></span>
          </h2>

          <span class="favorites-count">お気に入り：<%= post.favorites.count %></span>
          <span class="comments-count">コメント数：<%= post.comments.count %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
