<div class="post-main">
  <h1 class="post_title">
    <%= @post.title %>
    <% if current_user.id === @post.user_id %>
      <span><%= link_to "編集", edit_post_path %></span>
      <span><%= link_to "削除", post_path, method:"delete" %></span>
    <% end %>
  </h1>
  <div class="wrap clearfix">
    <% if user_signed_in? %>
      <!-- favorite start -->
      <% if @post.favorites.where(user_id: current_user.id).count == 0 %>
        <div class="favorite-group">
          <%= link_to favorites_path(post_id: @post), method:"post" do %>
            <%= image_tag "Star.png" %>
          <% end %>
          <span class="favorites-count"><%= @post.favorites.count %></span>
        </div>
      <% else %>
        <div class="favorite-group">
          <%= link_to favorite_path(post_id: @post), method:"delete" do %>
            <%= image_tag "Star.png", class: "icon favorite-icon" %>
          <% end %>
          <span class="favorites-count"><%= @post.favorites.count %></span>
        </div>
      <% end %>
      <!-- favorite end -->
      <div class="comments-count"><%= image_tag "Group 7.png", class: "icon comment-icon" %><%= @post.comments.count %></div>
    <% end %>
    <h3 class="post_auther">
      <% if @post.user.image? %>
        <%= image_tag @post.user.image.thumb.url, :class => "auther-icon" %>
      <% else %>
        <img class="icon auther-icon" alt="No image" src="/assets/noimage.png" />
    　<% end %>
      <span><%= @post.user.username %></span>
    </h3>
  </div>
  <p class="post_contents">
    <%= image_tag @post.image.url %>
    <%= @post.contents %>
  </p>
</div>
<h2 class="mrb-20"> - コメント一覧 - </h2>
<div class="comment-wrap">
<%= @comments.each do |comment| %>
  <div class="each-comment">
    <div class="comment-wrap">
      <div class="comment-left">
        <% if comment.user.image? %>
          <%= image_tag comment.user.image.thumb.url, :class => "icon" %>
        <% else %>
          <img class="icon" alt="No image" src="/assets/noimage.png">
        <% end %>
      </div>
      <div class="comment-right">
        <h3 class="comment-author">
          <%= comment.user.username %>
          <% if user_signed_in? %>
            <% if current_user.id === comment.user_id %>
              <botton href="" class="form-edit-toggle">編集する</botton>
              <%= link_to "削除する", comment_path(comment.id), class: "comment-destroy-btn", method: 'delete', :confirm => 'Are you sure?' %>
            <% end %>
          <% end %>
          <%= form_tag comment_path(comment.id), class: "comment-edit-form", method: 'patch' do %>
            <%= text_area_tag :contents, comment.contents, :rows => 4 %>
            <%= submit_tag "コメントを編集する", class: "submit" %>
          <% end %>
        </h3>
      </div>
    </div>
    <p class="comment-contents"><%= comment.contents %></p>
  </div>
<% end %>
</div>
<% if user_signed_in? %>
  <h2 class="mrb-20">コメントを書く</h2>
  <%= form_tag comments_path, class: "comment-form" do %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= text_area_tag :contents, "", :rows => 4 %>
    <%= submit_tag "コメントする", class: "submit green" %>
  <% end %>
<% end %>
