<% if current_user.id === @post.user_id %>
  <h2>
    <%= @post.title %>
    <span><%= link_to "編集", edit_post_path %></span>
    <span><%= link_to "削除", post_path, method:"delete" %></span>
  </h2>
<% end %>
<h3>投稿者：<%= @post.user.username %></h3>
<p><%= @post.contents %></p>
