<h1 class="post_title">
  <%= @post.title %>
  <% if current_user.id === @post.user_id %>
    <span><%= link_to "編集", edit_post_path %></span>
    <span><%= link_to "削除", post_path, method:"delete" %></span>
  <% end %>
</h1>
<h3 class="post_auther">
  <% if @post.user.image? %>
    <%= image_tag @post.user.image.thumb.url, :class => "icon" %>
  <% else %>
    <img class="icon" alt="No image" src="/assets/noimage.png" />
　<% end %>
  <span><%= @post.user.username %></span>
</h3>
<p><%= image_tag @post.image.url %></p>
<p><%= @post.contents %></p>
